@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#home-connect {
  position: relative;
}

#home-connect::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all ease 0.6s;
  transition-delay: 0.3s;
}

#home-connect::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: all ease 0.6s;
}

.contact-wrapper:hover #home-connect::after {
  width: 0;
}
.contact-wrapper:hover #home-connect::before {
  width: 98%;
}

.contact-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.product-marquee {
  animation-name: slider;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 30s;
}
/* 
.mq-card h6 {
  transition: all ease 0.3s;
}

.mq-card h3 {
  transition-delay: 0.3s;
}

.mq-card:hover h6 {
  transform: translateX(0%) !important;
}

.mq-card:hover h3 {
  opacity: 0;
  transition-delay: 0s;
} */

  
@media (min-width: 639px) {
  .num-c {
    transition: all ease 0.3s;
  }

  .num-c:hover {
    width: 90px;
    height: 30px;
  }

  .product-txt:hover .num-c {
    background-color: #fff;
  }

  .num-c:hover p {
    color: black;
    opacity: 1;
  }

  .num-c:hover i {
    color: white !important;
  }
}


.product-txt:hover i{
  color: black;
}
.product-txt:hover i {
  opacity: 1;
}


@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.swiper {
  width: 100%;
  height: 100%;
  user-select: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev{
  transform: scale(.8) !important;
}
.swiper-button-next{
  transform: scale(.8) !important;
}
/* 
.swiper-button-prev {
  position: absolute;
  width: 3vw !important;
  height: 3vw !important;
  border-radius: 50%;
  background-image: url("/swiperarr.png");
  background-size: cover;
  transform: rotate(180deg);
  opacity: 0.3;
}
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  position: absolute;
  width: 3vw !important;
  height: 3vw !important;
  border-radius: 50%;
  background-image: url("/swiperarr.png");
  background-size: cover;
  opacity: 0.3;
}
.swiper-pagination-bullet-active {
  background-color: rgb(94, 94, 94) !important;
}
.swiper-button-next:after {
  display: none;
} */

.swiper-button-next:after , .swiper-button-prev::after {
  opacity: .8;
}

.product-wraper:hover .product-txt {
  width: 88%;
  background-color: #58636e;
  color: #fff;
}


@media (max-width: 639px){
  .contact-wrapper{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .product-wraper .product-txt {
    width: 100%;
  }
  .product-wraper:hover .product-txt {
    width: 100%;
    background-color: #58636e;
    color: #fff;
  }
  .swiper-button-prev{
    transform: scale(.5) !important;
  }
  .swiper-button-next{
    transform: scale(.5) !important;
  }
}







